<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
    {{ content_for_header }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <script src="{{ 'bundle.vendors.js' | asset_url }}" defer></script>
    <script src="{{ 'bundle.gsap.js' | asset_url }}" defer></script>
    <script src="{{ 'bundle.signals.js' | asset_url }}" defer></script>
    <script src="{{ 'bundle.main.js' | asset_url }}" defer></script>
    {{ 'bundle.style.css' | asset_url | stylesheet_tag }}
    {{ content_for_layout }}
  </body>
</html>

